
/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 4000px) {
  .chatting-app{
    display: none;
  }
}

/* min 200 max 500 */
@media only screen and (min-width: 200px) and (max-width: 550px) {
  .ch-navbar {
    grid-template-columns: 50px auto 60px;
  }

  .ch-logo {
    padding: 5px;
    border-right: 1px solid #ddd;
    height: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .ch-search input {
    font-size: 14px;
  }

  .ch-search {
    border-left: none;
  }

  .ch-filter .ch-inbox-search,
  .single-user-wrapper .ch-user-info {
    display: none;
    opacity: 0;
    visibility: hidden;
  }

  .ch-sub-navbar {
    grid-template-columns: 50px auto 90px;
  }

  .user-short-name {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
  }

  .ch-user-thumb {
    display: none;
  }

  .ch-thread-title h4 {
    font-size: 13px;
    padding-left: 10px;
  }

  .ch-body {
    display: grid;
    grid-template-columns: 50px auto;
  }

  .user-thumb-icon {
    margin-right: 0;
  }
}