/* 1. Theme default css */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800|Roboto:300,300i,400,400i,500,700,700i,900,900i");

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
}

input:focus,
textarea:focus,
button:focus {
	outline: none;
}

/* css start  */
.img {
	width: 100%;
}

.custom-width {
	max-width: 900px;
	margin: 0 auto;
}

.ch-navbar {
	display: grid;
	grid-template-columns: 80px auto 60px;
	align-items: center;
}

.ch-navbar {
	border-bottom: 1px solid #ddd;
}

.ch-logo {
	overflow: hidden;
	font-size: 15px;
	font-weight: 700;
	padding: 10px;
	float: left;
	max-width: 100px;
}

.ch-logo img {
	width: 100%;
}

.ch-search input,
.ch-inbox-search input {
	width: 100%;
	z-index: 1;
	background: transparent;
	box-shadow: none;
	border: none;
	padding: 10px 10px 10px 30px;
	display: block;
	font-weight: 500;
	height: 100%;
	font-weight: 600;
}

.ch-search form,
.ch-inbox-search form {
	height: 100%;
}

.ch-search span.search-icon,
.ch-inbox-search span.search-icon {
	position: absolute;
	height: 100%;
	top: 50%;
	transform: translateY(-14px);
	z-index: -1;
}

.ch-search input:focus,
.ch-inbox-search input:focus {
	outline: none;
}

.ch-search {
	position: relative;
	z-index: 1;
	padding-left: 30px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	height: 100%;
}

.ch-user {
	padding: 10px;
}

.ch-user-photo a {
	display: block
}

/* sub header  */
.ch-sub-navbar {
	display: grid;
	grid-template-columns: 250px 20% auto 90px;
	align-items: center;
	border-bottom: 1px solid #ddd;
	height: 50px;
}

.ch-filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-right: 1px solid #ddd;
	height: 100%;
}

.ch-inbox-search {
	position: relative;
	z-index: 1;
	padding-left: 10px;
}

.ch-filter {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.filter-button {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 5px 15px;
}

.user-short-name {
	background-color: #b5a233;
	color: #fff;
	display: inline-block;
	width: 35px;
	height: 35px;
	font-size: 11px;
	font-weight: 600;
	text-align: center;
	line-height: 35px;
	border-radius: 50%;
}

.ch-user-thumb {
	margin-left: 15px;
}

.ch-user-thumb span {
	font-size: 14px;
	display: inline-block;
	padding-left: 5px;
	font-weight: 600;
	color: #333;
}

.ch-thread-title h4 {
	font-size: 16px;
	font-weight: 700;
	color: #333;
}

.ch-action-buttons .button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 5px 15px;
	color: #333;
	float: right;
}

/* chatting users  */
.single-user-wrapper {
	display: block;
	overflow: hidden;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.user-thumb-icon {
	float: left;
	margin-right: 10px;
}

.ch-user-info h4 {
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 8px;
	color: #333;
}

.ch-user-info h4 span {
	float: right;
	font-size: 12px;
	font-weight: 500;
	color: #888;
}

.ch-user-info {
	float: left;
	width: calc(100% - 46px);
}

.ch-body {
	display: grid;
	grid-template-columns: 250px auto;
}

.ch-user-info p {
	font-size: 13px;
	color: #666;
}

.ch-users {
	border-right: 1px solid #ddd;
	max-height: calc(100vh - 110px);
	overflow-y: auto;
	-ms-overflow-style: none;
}

.single-user-wrapper:last-child {
	border-bottom: none;
}

.ch-users::-webkit-scrollbar {
	display: none;
}

/* message body  */
.message-body-wrapper {
	max-height: calc(100vh - 215px);
	overflow-y: auto;
	-ms-overflow-style: none;
}

.message-body-wrapper::-webkit-scrollbar {
	display: none;
}

.ch-user-photo {
	float: left;
	margin-right: 10px;
}

.ch-single-message {
	overflow: hidden;
	margin: 15px;
}

.ch-message {
	float: left;
	max-width: calc(100% - 80px);
	background-color: #e6e6e6;
	padding: 8px 10px;
	border-radius: 4px;
	font-size: 13px;
	line-height: 22px;
}

.ch-single-message.ch-sender .ch-user-photo {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}

.ch-single-message.ch-sender .ch-message {
	float: right;
	background: #3467cc;
	color: #fff;
}

/* message input  */
.ch-message-input {
	position: relative;
	z-index: 1;
}

.ch-message-input textarea {
	width: 100%;
	background: transparent;
	border: none;
	padding: 15px 15px 35px;
	height: 100px;
	overflow: hidden;
}

.ch-message-input .ch-submit-file {
	position: absolute;
	bottom: 10px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	padding: 0 15px;
}

.ch-submit-file input[type="submit"] {
	border: none;
	background-color: #3467CC;
	color: #fff;
	padding: 5px 12px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 600;
}

.ch-message-input {
	border-top: 1px solid #ddd;
}

/* input[type="file"], .ch-message-input input[type="submit"] */